[Desktop Entry]
Version=1.0
Name=EmojiX
GenericName=EmojiX
Comment=Emoji Picker Written In C
Exec=/usr/bin/emojix
Icon=emojix
Terminal=false
Type=Application
Categories=Utility;GTK;
